/src
/dist/
/example/
/__test__
/.git
/babel.config.js
/release.config.js
/commitlint.config.js
/jest.config.js
/tsconfig.json
/.prettierrc.js
/.gitignore
/.prettierignore
/compress.sh
.nyc_output/
webpack.config.js
